In [ ]:
## Project 4 HELLO

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd

file_path = "/content/gdrive/My Drive/Colab Notebooks/Project 4/labour_data.csv"

# Read the CSV file
df = pd.read_csv(file_path)

# Display the first few rows
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,MEASURE,Measure,SEX,Sex,AGE,Age,...,UNIT_MEASURE,Unit of Measure,UNIT_MULT,Unit of Multiplier,OBS_STATUS,Observation Status,OBS_COMMENT,Observation Comment,DECIMALS,Decimals
0,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M4,Unemployed - looking for full-time work,3,Persons,1599,Total (age),...,NUM,Number,3,Thousands,NaN,NaN,NaN,NaN,1,One
1,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M4,Unemployed - looking for full-time work,3,Persons,1599,Total (age),...,NUM,Number,3,Thousands,NaN,NaN,NaN,NaN,1,One
2,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M4,Unemployed - looking for full-time work,3,Persons,1599,Total (age),...,NUM,Number,3,Thousands,NaN,NaN,NaN,NaN,1,One
3,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M4,Unemployed - looking for full-time work,3,Persons,1599,Total (age),...,NUM,Number,3,Thousands,NaN,NaN,NaN,NaN,1,One
4,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M4,Unemployed - looking for full-time work,3,Persons,1599,Total (age),...,NUM,Number,3,Thousands,NaN,NaN,NaN,NaN,1,One
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6715,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M12,Participation rate,3,Persons,1599,Total (age),...,PCT,Percent,0,Units,NaN,NaN,NaN,NaN,1,One
6716,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M12,Participation rate,3,Persons,1599,Total (age),...,PCT,Percent,0,Units,NaN,NaN,NaN,NaN,1,One
6717,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M12,Participation rate,3,Persons,1599,Total (age),...,PCT,Percent,0,Units,NaN,NaN,NaN,NaN,1,One
6718,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M12,Participation rate,3,Persons,1599,Total (age),...,PCT,Percent,0,Units,NaN,NaN,NaN,NaN,1,One
6719,DATAFLOW,ABS:LF(1.0.0),Labour Force,I,M12,Participation rate,3,Persons,1599,Total (age),...,PCT,Percent,0,Units,NaN,NaN,NaN,NaN,1,One

In [3]:
import pandas as pd

# Mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

# Define the correct file path
file_path = "/content/gdrive/My Drive/Colab Notebooks/Project 4/proj4.xlsx"

# Read the Excel file
df = pd.read_excel(file_path)

# Display the first few rows
df.head(10)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,Time Period,Time Period.1,Jan 2015,Feb 2015,Mar 2015,Apr 2015,May 2015,Jun 2015,Jul 2015,Aug 2015,...,Apr 2024,May 2024,Jun 2024,Jul 2024,Aug 2024,Sep 2024,Oct 2024,Nov 2024,Dec 2024,Unnamed: 122
0,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Measure: Employed - full-time 3,NUM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,NaN,8006.548693,8152.775102,8076.976091,8057.650037,8109.094238,8085.321035,8147.506533,8051.751352,...,9786.539222,9870.858768,9906.432686,9997.662258,9880.261369,9942.270839,9952.002048,10106.254548,10177.794503,NaN
3,· New South Wales,NaN,2515.497235,2585.055326,2572.600957,2560.511390,2580.884751,2601.270616,2641.013020,2604.792894,...,3084.117251,3106.891476,3100.364184,3133.179802,3095.337392,3114.779322,3097.323058,3176.782901,3198.296819,NaN
4,· Victoria,NaN,1982.947992,2022.487209,2001.646593,1988.919268,1982.225490,1968.880824,1996.300563,1960.902095,...,2509.570706,2540.222722,2553.229635,2609.275135,2571.434801,2589.236354,2576.252580,2590.491456,2591.756083,NaN
5,· Queensland,NaN,1613.553270,1640.910781,1622.965430,1636.535343,1655.392980,1653.400666,1648.095137,1624.873897,...,2016.255478,2019.476850,2044.154968,2031.588488,2015.997397,2019.116205,2056.989454,2083.622151,2103.370938,NaN
6,"Measure: Employed - part-time 3,NUM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Australia,NaN,3460.832389,3571.357215,3621.224600,3653.857422,3672.346694,3667.580449,3612.405532,3650.879903,...,4474.414109,4517.929316,4463.816925,4389.692406,4482.814433,4518.684482,4534.392787,4495.998865,4543.504637,NaN
8,· New South Wales,NaN,1061.367495,1073.423779,1105.603110,1132.361078,1108.251115,1101.447031,1083.719039,1103.992272,...,1315.931684,1332.317742,1331.588476,1332.388239,1336.644098,1359.108732,1349.159153,1325.415724,1362.681710,NaN
9,· Victoria,NaN,950.364979,984.086562,984.010146,995.265714,1019.924762,1021.530156,995.933108,999.491972,...,1197.417781,1206.516430,1190.748071,1153.610906,1184.805297,1195.812959,1211.140093,1221.516431,1231.338930,NaN

In [4]:
# swap rows and coloumns
df_transposed = df.T
df_transposed.head(10)  # Display first few rows after transpose

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,72
Time Period,Region,"Measure: Employed - full-time 3,NUM",Australia,· New South Wales,· Victoria,· Queensland,"Measure: Employed - part-time 3,NUM",Australia,· New South Wales,· Victoria,...,· New South Wales,· Victoria,· Queensland,"Measure: Employment to population ratio 0,PCT",Australia,· New South Wales,· Victoria,· Queensland,NaN,© Terms & conditions
Time Period.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jan 2015,NaN,NaN,8006.548693,2515.497235,1982.947992,1613.55327,NaN,3460.832389,1061.367495,950.364979,...,6.417486,7.446698,5.720933,NaN,59.91618,58.362031,60.284005,60.05504,NaN,NaN
Feb 2015,NaN,NaN,8152.775102,2585.055326,2022.487209,1640.910781,NaN,3571.357215,1073.423779,984.086562,...,6.834905,6.968836,6.495303,NaN,61.163287,59.600697,61.657726,61.504306,NaN,NaN
Mar 2015,NaN,NaN,8076.976091,2572.600957,2001.646593,1622.96543,NaN,3621.2246,1105.60311,984.010146,...,6.515922,7.557961,5.956796,NaN,60.934092,59.829093,61.098482,60.714383,NaN,NaN
Apr 2015,NaN,NaN,8057.650037,2560.51139,1988.919268,1636.535343,NaN,3653.857422,1132.361078,995.265714,...,5.787953,7.087311,5.745206,NaN,60.942057,60.011832,60.976424,60.988197,NaN,NaN
May 2015,NaN,NaN,8109.094238,2580.884751,1982.22549,1655.39298,NaN,3672.346694,1108.251115,1019.924762,...,6.548546,6.190393,4.812419,NaN,61.244376,59.895162,61.25131,61.569855,NaN,NaN
Jun 2015,NaN,NaN,8085.321035,2601.270616,1968.880824,1653.400666,NaN,3667.580449,1101.447031,1021.530156,...,4.795421,5.761297,4.85704,NaN,61.034702,60.059796,60.920208,61.354867,NaN,NaN
Jul 2015,NaN,NaN,8147.506533,2641.01302,1996.300563,1648.095137,NaN,3612.405532,1083.719039,995.933108,...,5.324066,5.697662,5.169349,NaN,60.996717,60.340107,60.843888,61.125264,NaN,NaN
Aug 2015,NaN,NaN,8051.751352,2604.792894,1960.902095,1624.873897,NaN,3650.879903,1103.992272,999.491972,...,6.055353,5.518837,5.03333,NaN,60.62578,60.005423,60.084673,61.02518,NaN,NaN